<launch>

    <arg name="drone_id" value="0"/>
    <arg name="use_sim" default="false" />
    <arg name="odom_topic" value="viscar/odom" />
    
    <!-- map -->
    <arg name="map_size_x_" value="20.0"/>
    <arg name="map_size_y_" value="20.0"/>
    <arg name="map_size_z_" value="5.0"/>

    <!-- main algorithm params -->
    <include file="$(find car_planner)/launch/advanced_param.xml">
        <arg name="drone_id" value="$(arg drone_id)"/>
        <arg name="map_size_x_" value="$(arg map_size_x_)"/>
        <arg name="map_size_y_" value="$(arg map_size_y_)"/>
        <arg name="map_size_z_" value="$(arg map_size_z_)"/>
        <arg name="odometry_topic" value="$(arg odom_topic)"/>
        <arg name="camera_pose_topic" value="pcl_render_node/camera_pose"/>
        <arg name="depth_topic" value="pcl_render_node/depth"/>
        <!-- <arg name="cloud_topic" value="laser_simulator/local_pointcloud"/> -->
        <arg name="cloud_topic" value="/cloud_registered"/>

        <!-- intrinsic params of the depth camera -->
        <arg name="cx" value="321.04638671875"/>
        <arg name="cy" value="243.44969177246094"/>
        <arg name="fx" value="387.229248046875"/>
        <arg name="fy" value="387.229248046875"/>
        <!-- maximum velocity and acceleration the drone will reach -->
        <arg name="max_vel" value="2.0" />
        <arg name="max_acc" value="6.0" />
        <!--always set to 1.5 times grater than sensing horizen-->
        <arg name="planning_horizon" value="7.5" />
        <arg name="use_distinctive_trajs" value="true" />
        <!-- <arg name="use_distinctive_trajs" value="false" /> -->
        <!-- 1: use 2D Nav Goal to select goal  -->
        <!-- 2: use global waypoints below  -->
        <arg name="flight_type" value="1" />
        <!-- global waypoints -->
        <!-- It generates a piecewise min-snap traj passing all waypoints -->
        <arg name="point_num" value="1" />
        <arg name="point0_x" value="20" />
        <arg name="point0_y" value="-20" />
        <arg name="point0_z" value="0" />
    </include>

    <!-- trajectory server -->
    <node pkg="car_planner" name="car_traj_server" type="traj_server" output="screen">
      <remap from="position_cmd" to="car/ackermann"/>
      <remap from="~planning/bspline" to="car_planning/bspline"/>
      <param name="traj_server/time_forward" value="0.5" type="double"/>
      <param name="traj_server/v_max" value="2.0" type="double"/>
      <param name="traj_server/wheelbase" value="0.6"  type="double"/>
      <param name="traj_server/max_steer" value="0.7"  type="double"/>
      <param name="traj_server/forward_distance" value="1.0"  type="double"/>
      <param name="traj_server/gain" value="1.0"  type="double"/>
      <remap from="~odom" to="$(arg odom_topic)"/>
    </node>
    
    <!-- use simulator -->
    <group if="$(arg use_sim)">
        <include file="$(find car_planner)/launch/simulator.xml">
            <arg name="odometry_topic" value="$(arg odom_topic)" />
            <arg name="cloud_topic" value="cloud_registered"/>
        </include>
        <!-- rviz -->
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find vehicle_simulator)/rviz/default.rviz" required="true" />
    </group>

    <group unless="$(arg use_sim)">
        <include file="$(find fast_lio)/launch/mapping_ouster64.launch"/>
    </group>

</launch>
